<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>JupViec</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>qlcangbienapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>qlcangbienapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.625832227097-6khtf6i0ovccr6aa0dc0n2j6t9pr0lvk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb817864535809752</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>appgypa</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>appgypa</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>partnerSchemeId</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>sTShYq8JgyfOdw6g649Xka4Y8e1njRFqhXf5u</string>
	<key>FacebookAppID</key>
	<string>817864535809752</string>
	<key>FacebookDisplayName</key>
	<string>AppName</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>momo</string>
		<string>tayninh.app</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Your message to user when the media library is accessed for the first time</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Your message to user when the bluetooth is accessed for the first time</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Your message to user when the calendars is accessed for the first time</string>
	<key>NSCameraUsageDescription</key>
	<string>Cho phép ứng dụng truy cập máy ảnh để bạn có thể chụp ảnh để gửi phản ánh</string>
	<key>NSContactsUsageDescription</key>
	<string>Your message to user when the contacts is accessed for the first time</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Ứng dụng sử dụng vị trí của bạn để gửi phản ánh</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Ứng dụng sử dụng vị trí của bạn để gửi phản ánh</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Cho phép ứng dụng truy cập micro để bạn có thể ghi âm trong lúc quay phim để gửi phản ánh</string>
	<key>NSMotionUsageDescription</key>
	<string>Your message to user when the motion is accessed for the first time</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Để lưu hình ảnh, cho phép ứng dụng ghi hình ảnh vào thư viện của bạn</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Cho phép ứng dụng truy cập thư viện ảnh để chọn ảnh gửi phản ánh</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Allows the microphone access application so you can record the contents to send reflections.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIMainStoryboardFile</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
